body{
	font-size: 14px;
	color: #FFFFFF;
	background-color: #3B3F45;
}

.container{
	background-color: #2280BF;
	margin: 0 auto;
	width: 60%;
	padding: 30px; 
	overflow: auto;
}

header{
	text-align: center;
	border-bottom: #fff dashed 2px;
}

header h1{

}

#results{
	background-color: #87FF87;
	color:#3A3A3A;
	padding:0px;
}

#results h1{
	
	padding:5px;
	text-align: center;
}